<!DOCTYPE html>
<html>
	<head>
	<style>
		body {
			background-image: url('../public/images/OregonTrail.jpg');
		}
		
		
		#P01 {
			color: red;
		}
		
		#container {
			background-color: none;
			text-align: center;
			font-size: 150%;
		}
		
		h1 {
			color: red;
		}
		
		p {
			color: red;
		}
	
	</style>
	</head>
	<title>Oregon Trail</title>	
		</body>
			<div class="w3-container w3-center w3-animate-opacity">
			<div id = "container">
				<h1>Oregon Trail</h1>
				<p>Press spacebar to continue</p>
					<p id="P01">Made by: Mateo Zapata</p>
			</div>
			</div>
		</body>
</html>
