<!DOCTYPE html>
<html>
	<head>
	<style>
		body {
			background-color: black;
		}
		
		
		#P01 {
			color: red;
		}
		
		#container {
			background-color: none;
			text-align: center;
			font-size: 150%;
		}
		
		#middle {
			width: 50%;
		}
		
		h1 {
			color: red;
		}
		
		p {
			color: red;
		}
	
	</style>
	</head>
	<title>Oregon Trail</title>	
		</body>
			<div id = "container">
				<h1>Oregon Trail</h1>
				<button onclick="myFunction()">Main Menu</button>
     					<script>
							function myFunction() {
  								location.replace("file:///Users/mateozapata/Desktop/Project/mzapata-project/client/views/mainmenu.html")
							}
						</script>
			</div>
			
			<div id = "middle">
			<img src="../public/images/TrailGrass.jpg" alt="Trail" width="1430" height="460">
			</div>
			
			<div id = "bottom">
				<p>Days on the trail: </p>
				<p>Miles Traveled: </p>
				<p>Current Weather: </p>
				<p>Current Health: </p>
				<p>Current Pace: </p>
				<p>Current Terrain: </p>
				<p># of Party Members: </p>
			</div>
			
		</body>
</html>
